header{
    background-color: var(--cl-bg-2);
    margin: 2% 5% 3% 5%;
    padding: 50px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}